NODE_ENV=development
PORT=3000

# Database Configuration (Amazon RDS)
DB_HOST=database-1.cdo8kok4k1sv.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=asnvVsHxXmQW7uF
DB_NAME=pingnova
DB_PORT=3306

# Authentication
JWT_SECRET=supersecretpingnova

# Email Alerts (SMTP Configuration)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=ethereal_user
SMTP_PASS=ethereal_pass
